<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.imageadjustment">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
      <provider
            android:name="com.imageadjustment.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
